.hero {
  text-align: center;
  font-size: rem-calc(21px);
  background-size: cover;
  color: $light-gray;
  padding: $global-padding*12 0 $global-padding*2;

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: $global-margin;
  }
  .content {
    max-width: rem-calc(620px);
    position: relative;
    z-index: 1;
    margin: 0 auto $global-margin * 2;
    p {
      line-height: 1.2;
    }
  }

  .content + .share h6 {
    margin-bottom: 0;
  }
  .share {
    position: relative;
    z-index: 1;
    color: $white;
  }
  .st_facebook_custom {
    @extend .icon-facebook;
    display: inline-block;
    position: relative;
    z-index: 1;
    &:hover {
      cursor: pointer;
      @extend .icon-facebook-hover;
    }
  }
  .st_instagram_custom {
    @extend .icon-instagram;
    display: inline-block;
    position: relative;
    z-index: 1;
    &:hover {
      cursor: pointer;
      @extend .icon-instagram-hover;
    }
  }
  .st_pinterest_custom {
    @extend .icon-pinterest;
    display: inline-block;
    position: relative;
    z-index: 1;
    &:hover {
      cursor: pointer;
      @extend .icon-pinterest-hover;
    }
  }

  .back {
    position: relative;
    font-size: rem-calc(16px);
    text-transform: uppercase;
    top: rem-calc(-4px);
    @include breakpoint(small only) {
      display: none;
    }
    i.fa {
      position: relative;
      top: rem-calc(20px - 10px);
      font-size: rem-calc(40px);
      padding-right: rem-calc(4px);
    }
  }
}