.sticky-container {
  position: absolute;
  width:100%;
}
.title-bar {
  padding: $global-margin*1.5 0;
  transition: background-color 500ms;
  left: 0 !important;// prevents moving left when off canvas is open and scrolled down
  &.is-stuck {
    background-color: rgba($black, 0.8);
  }
  .menu {
    justify-content: space-between;
    li {
      display: none;
      @include breakpoint(large) {
        display: flex;
      }
    }
    a {
      text-transform: uppercase;
      color: $light-gray;
      &:hover {
        color: $white;
      }
    }
    .fa-bars {
      color: map-get($foundation-palette, primary);
      font-size: 2rem;
    }
    .home {
      a {
        font-size:0;
        background-image: url('../images/menu-logo.png');
        width: 170px;
        height: 71px;
      }
    }
    .home, .menu-toggle, .cart{
      display: flex;
    }
    .cart {
      position: relative;
      .badge {
        min-width: 1.2rem;
        height: 1.2rem;
        position: absolute;
        bottom: 14px;
        right: 16px;
        font-weight: bold;
        padding: 0.25rem;
      }
    }
  }
}

.off-canvas-wrapper {
  background-color: $dark-gray;
  .close-button {
    color: $light-gray;
    &:hover {
      color: $white;
    }
  }
  .menu a {
    color: $light-gray;
    &:hover {
      color: $white;
    }
  }
}