@import "settings";
@import "font-awesome";
@import "foundation";
@include foundation-everything(true);
@import "supertheme";
@import "sprite-map";

@import "layout/navigation";
@import "layout/footer";
@import "layout/hero";
@import "layout/author-bar";
@import "layout/sidebar";
@import "layout/comments";

@import "panels/promotion";
@import "panels/basic_content";

@import "woocommerce/single-product-details";
@import "woocommerce/product-teasers";

@import "single";

.off-canvas {
  left: 0;
  z-index: auto;
  position: fixed;
}
.js-off-canvas-exit {
  z-index: 6;
}

.button {
  font-family: $header-font-family;
  text-transform: uppercase;
  font-weight: $global-weight-bold;
}

.scroll-top {
  position: fixed;
  z-index: 1;
  background-color: map-get($foundation-palette, primary);
  color: $white;
  display: block;
  text-align: center;
  font-size: rem-calc(32px);
  width: rem-calc(32px);
  bottom: rem-calc(32px);
  right: rem-calc(32px);
  @include breakpoint(medium) {
    font-size: rem-calc(48px);
    width: rem-calc(48px);
    bottom: rem-calc(48px);
    right: rem-calc(48px);
  }
  &:hover, &:active, &:focus {
    color: $white;
    background-color: scale_color(map-get($foundation-palette, primary), $lightness: -14%);
  }
}

i.fa.fa-star, i.fa.fa-star-half-o {
  color: map-get($foundation-palette, primary);
}
.woocommerce a.add-cart, .woocommerce button.add-wishlist {
  font-size: rem-calc(13px);
  margin-bottom: $global-margin;
  @include breakpoint(medium) {
    width: 100%;
    margin: 0;
  }
}
.woocommerce a.add-cart {
  background-color: map-get($foundation-palette, primary);
  color: $white;
  border: rem-calc(2px) solid map-get($foundation-palette, primary);
  &:hover {
    background-color: scale_color(map-get($foundation-palette, primary), $lightness: -14%);
    border-color: scale_color(map-get($foundation-palette, primary), $lightness: -14%);
    color: $white;
  }
}
.woocommerce button.add-wishlist {
  background-color: $body-background;
  border: rem-calc(2px) solid $body-font-color;
  &:hover {
    background-color: scale_color($body-background, $lightness: -14%);
  }
}

// generic woo commerce
// background for shop related pages
.woocommerce-page .off-canvas-content, .woocommerce-page .off-canvas-content {
  background-color: $white;
  .single-product-details {
    background-color: $body-background;
  }
  .related {
    background-color: $white;
  }
}
// success notice
.woocommerce-message {
  padding: $global-padding !important;
  background-color: rgba(map-get($foundation-palette, success), 0.1);
  border-top: none;
  border-left: rem-calc(8px) solid map-get($foundation-palette, success);
  &:before {
    display: none;
  }
  &--info {
    border-left: rem-calc(8px) solid #1e85be;
    background-color: rgba(#1e85be, 0.1);
  }
  a.button {
    color: $white;
    background-color: map-get($foundation-palette, primary);
    &:hover {
      background-color: scale_color(map-get($foundation-palette, primary), $lightness: -14%);
      color: $white;
    }
  }
}
// tables
table tbody tr:nth-child(2n) {
  background-color: $white;
}
// coubon submit button
#coupon_code {
  height: auto;
  padding: rem-calc(9px);
}
// more woocommerce buttons
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
  color: $white;
  background-color: map-get($foundation-palette, primary);
  &:hover {
    color: $white;
    background-color: scale_color(map-get($foundation-palette, primary), $lightness: -14%);
  }
}

// account page
.woocommerce-account {
  article {
    padding: $global-padding*2 0;
    h1 {
      display: none;
    }
    h2 {
      font-size: rem-calc(20px);
      font-family: $body-font-family;
    }
    form.login {
      margin: 0;
    }
  }
}