@import "settings";
@import "font-awesome";
@import "foundation";
@include foundation-everything(true);
@import "supertheme";

@import "layout/navigation";
@import "layout/footer";
@import "layout/hero";

.off-canvas {
  left: 0;
  z-index: auto;
  position: fixed;
}