.product-teasers {
  padding: $global-padding*4 0;
  background-color: $white;
  .column {
    margin-bottom: $global-padding*2;
  }
  h2 {
    margin: 0 !important;
    font-family: $header-font-family !important;
    font-size: map-get(map-get($header-sizes, medium), h2) !important;
  }
  h2 + p {
    font-size: rem-calc(21px);
    font-weight:bold;
    margin-bottom: $global-margin*3;
  }
  a.featured img {
    transition: 0.3s ease;
    &:hover {
      transform: scale(1.25, 1.25);
    }
  }
  img {
    margin-bottom: $global-margin;
  }
  h4 {
    font-size: rem-calc(24px);
    margin-bottom: $global-margin;
    color: map-get($foundation-palette, tertiary);
  }
  i.fa {
    font-size: rem-calc(22px);
    margin-right: rem-calc(8px);
    margin-bottom: $global-margin;
  }
  .reviews {
    font-size: rem-calc(15px);
  }
  .weight-container {
    position: relative;
    margin-bottom: $global-margin;
    .weight {
      position: relative;
      background-color: $white;
      padding: 0 $global-padding;
      display: inline-block;
      font-size: rem-calc(15px);
    }
    .bar {
      position: absolute;
      top: calc(50%);
      left: 25%;
      right: 25%;
      height: 1px;
      background-color: #7c7c7c;
    }
  }
  .excerpt {
    color: #7c7c7c;
    font-size: rem-calc(14px);
    margin: 0 auto $global-margin auto;
    max-width: rem-calc(300px);
  }
  a.add-cart {
    display: inline-block;
    width: auto !important;
    margin-bottom: $global-margin !important;
    padding: rem-calc(12px) rem-calc(48px);
  }
}
.post-type-archive, .page-template-template-shop {
  .hero {
    background: none !important;
  }
  .product-teasers {
    background: none;
    h4 {
      color: $white;
    }
    .excerpt {
      color: $white;
    }
    .stars {
      color: $white;
    }
    .fa-star-o {
      opacity: 0.5;
    }
    .reviews {
      opacity: 0.5;
    }
    .bar {
      background-color: transparent;
      &::before {
        content: "";
        display: block;
        position: absolute;
        height: 1px;
        background-color: rgba($white, 0.5);
        width: calc(100% - 8rem);
        right: 8rem;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        height: 1px;
        background-color: rgba($white, 0.5);
        width: calc(100% - 8rem);
        left: 8rem;
      }
    }
    .weight {
      background: none;
      color: $white;
      opacity: 0.5;
    }
  }
  .comments {
    background: none;
    color: $white;
  }
}
.reviews .product-teasers {
  background: none;
  .text-center { text-align: left; }
  h4 {
    margin-bottom: $global-margin*2;
  }
  .comments {
    background: none;
    .comment {
      padding-bottom: $global-margin;
    }
  }
}
.not-found {
  text-align: center;
  color: $white;
}